name: Convert Markdown to HTML

on:
  push:
    paths:
      - 'posts/**'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
        
      - name: Checkout Static Site Generator Repository
        uses: actions/checkout@v2
        with:
          repository: hydrol0x/static-site-generator
          path: static-site-generator-repo
      
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install marko

      - name: Convert Markdown to HTML
        run: python static-site-generator-repo/static-site-generator.py

      - name: Debug
        run: |
          ls -a

      - name: Commit and Push Changes
        run: |
          git config --global user.name 'Jacob R'
          git config --global user.email 'mrjacobry@gmail.com'
          git add dist/*
          git commit -m "Convert Markdown to HTML"
          git push
        shell: bash
